Source: ktux
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           Eshat Cakar <info@eshat.de>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               kde-sc-dev-latest (>= 4:4.12),
               kde-workspace-dev (>= 4:4.11),
               kdelibs5-dev (>= 4:4.11),
               pkg-kde-tools (>= 0.12)
Standards-Version: 3.9.5
Homepage: http://www.kde.org/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-sc/ktux.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-sc/ktux.git

Package: ktux
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Tux screensaver for KScreenSaver
 A neat Tux-in-a-spaceship screensaver for the KScreenSaver
 .
 This package is part of the KDE toys module.
